        /* --- SEKCJA MAIN --- */
        main {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: calc(100vh - 120px);
            padding: 40px 20px;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
        }

        main::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url("./tla/background3.jpg") no-repeat center center;
            background-size: cover;
            filter: opacity(0.4) blur(4px);
            transform: scale(1.05);
            z-index: 1;
        }

        main > * {
            position: relative;
            z-index: 2;
        }
        @media (max-width: 1050px) {
        }
