        /* --- SEKTOR MAIN --- */
        main {
            display: grid;
            grid-template-columns: 300px 1fr;
            gap: 20px;
            background-color: var(--primary-color-lighter);
            width: 100%;
            color: white;
            padding: 20px;
            min-height: calc(70vh - 120px);
            box-sizing: border-box;
        }

        .wybierz-gre {
            background-color: var(--primary-color);
            padding: 20px;
            border-radius: 10px;
            height: fit-content;
        }
        .wybierz-gre h1 {
            text-align: center;
            border-bottom: 2px solid var(--secondary-color);
            padding-bottom: 10px;
            margin-top: 0;
        }
        .wybierz-gre ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        /* KAFELKI MENU */
        .wybierz-gre ul li {
            margin: 15px 0;
            display: flex;
            align-items: center;
            height: 60px;
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }

        .wybierz-gre ul li::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            filter: blur(3px);
            z-index: -1;
            transition: 0.3s ease;
        }

        #menu-klasyczna::before {
            background-image: url("./tla/tlo_gra_klasyczna.png");
        }
        #menu-shanghai::before {
            background-image: url("./tla/tlo_shanghai.png");
        }
        #menu-around::before {
            background-image: url("./tla/tlo_gra_around-the-world.png");
        }
        #menu-high::before {
            background-image: url("./tla/tlo_gra_121-checkout.png");
        }
        #menu-doubles::before {
            background-image: url("./tla/tlo_gra_doubles.png");
        }

        .wybierz-gre button {
            background-color: rgba(9, 7, 35, 0.1);
            border: none;
            color: white;
            padding: 10px 15px;
            text-align: left;
            cursor: pointer;
            font-size: 18px;
            font-weight: bolder;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 8px;
            transition:
                background-color 0.3s,
                color 0.3s;
        }

        .wybierz-gre ul li.active::before {
            transform: scale(1.05);
        }
        .wybierz-gre ul li.active button {
            background-color: rgba(9, 7, 35, 0);
            color: #cccccc;
            box-shadow: inset 0 0 0 2px var(--secondary-color);
        }

        .right-games {
            background-color: var(--primary-color);
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }
        .wybierz-gre ul li:hover::before {
            filter: blur(3px);
            transform: scale(1.05);
        }

        /* --- KARTA GRY --- */
        .right-games .game {
            background-color: var(--primary-color-lighter);
            padding: 30px;
            border-radius: 8px;
            display: none;
        }

        .right-games .game.active {
            display: grid;
            grid-template-columns: 300px 1fr;
            column-gap: 30px;
            row-gap: 0px;
            grid-template-areas:
                "zdjecie naglowek"
                "zdjecie tekst"
                "bloki bloki"
                "przycisk przycisk";
        }

        .right-games .game h1 {
            grid-area: naglowek;
            text-align: left;
            border-bottom: 2px solid var(--secondary-color);
            padding-bottom: 10px;
            margin-top: 0;
            margin-bottom: 15px;
        }

        .right-games .game img {
            grid-area: zdjecie;
            width: 300px;
            height: 400px;
            object-fit: contain;
            align-self: start;
            margin: 0;
            border-radius: 8px;
        }

        .right-games .game p {
            grid-area: tekst;
            font-size: 16px;
            line-height: 1.6;
            margin: 0;
        }

        .right-games .game .btn-play {
            grid-area: przycisk;
            background-color: var(--secondary-color);
            border: none;
            color: var(--primary-color);
            padding: 12px 40px;
            cursor: pointer;
            font-size: 18px;
            font-weight: bolder;
            display: block;
            margin: 20px auto 0 auto;
            border-radius: 50px;
            text-decoration: none;
            text-align: center;
            width: fit-content;
            transition:
                background-color 0.3s,
                color 0.3s;
        }
        .right-games .game .btn-play:hover {
            background-color: var(--secondary-color-hover);
            color: var(--primary-color) !important;
        }

        .bloki {
            grid-area: bloki;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: rgba(0, 0, 0, 0.2);
            padding: 20px;
            border-radius: 12px;
            margin: 30px 0 0 0;
            width: 100%;
            box-sizing: border-box;
        }

        .blok-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            text-align: center;
        }

        .bloki img {
            width: 45px !important;
            height: 45px !important;
            object-fit: contain;
            filter: invert(100%);
        }

        .blok-info p {
            margin: 0;
            font-size: 14px;
            line-height: 1.2;
        }

        .blok-info strong {
            color: var(--secondary-color);
            font-size: 17px;
        }

        .ilosc-graczy,
        .lotki-na-runde,
        .ilosc-punktow {
            display: flex;
        }
        .ilosc-graczy img,
        .lotki-na-runde img,
        .ilosc-punktow img {
            margin-right: 10px !important;
        }

        /* RWD */
        @media (max-width: 1050px) {
            .right-games .game.active {
                grid-template-columns: 1fr;
                grid-template-areas:
                    "naglowek"
                    "zdjecie"
                    "tekst"
                    "bloki"
                    "przycisk";
                row-gap: 15px;
            }
            .bloki {
                margin: 0;
            }
            .right-games .game h1 {
                text-align: center;
            }
            .right-games .game img {
                margin: 0 auto;
            }
        }

        @media (max-width: 1050px) {
            main {
                grid-template-columns: 1fr;
            }
        }

        /* --- MEDIA QUERY DLA MOBILNEGO MENU --- */
        @media (max-width: 1050px) {
            
            main {
                padding: 10px;
            }
            .wybierz-gre,
            .right-games .game h1,
            .right-games {
                width: 90%;
                margin: auto;
            }
            .right-games .game img {
                margin: auto;
            }
            .bloki {
                gap: 10px;
            }
            .ilosc-graczy,
            .lotki-na-runde,
            .ilosc-punktow {
                flex-direction: column;
                justify-content: center;
            }
            .ilosc-graczy img,
            .lotki-na-runde img,
            .ilosc-punktow img {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 15px;
            }
            .ilosc-graczy p,
            .lotki-na-runde p,
            .ilosc-punktow p {
                text-align: center !important;
            }
            main{
                padding: 0;
                gap: 0;
            }
            .wybierz-gre, .right-games{
                border-radius: 0;
            }
            .wybierz-gre{
                margin-top: 10px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;

            }

        }
